# configuration file
src/sde_importance_sampling/config.py

# data files
data/

# pipelines
pipelines/

# notebooks
notebooks/

# pyenv version file
.python-version

# virtual environment
venv/

# egg info files
*.egg-info

# python compilation files
*.pyc

# state files
*.swp

# pycharm idea
.idea/

# desktop service store
.DS_Store

# mathlab files
*.m

# output files from slurm
*.out
