# ignore virtual environment
venv-mds/

# ignore state files
*.swp

# ignore python compilation files
*.pyc

# ignore pycharm idea
.idea/

# ignore mathlab files
*.m

# ignore figures directory
mds/figures/
