# data files
data/

# pipelines
pipelines

# pyenv version file
.python-version

# virtual environment
venv/

# egg info files
*.egg-info

# python compilation files
*.pyc

# state files
*.swp

# pycharm idea
.idea/

# mathlab files
*.m

